/*General styling*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,html{
    min-height: 100%;
}

body {
    background-color:#b095e7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 150%;
}

h1 {
    font-size: 250%;
}

h2 {
font-size: 175%;
text-align: center;
}

/*Header & Nav*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    background-color: #6e4bb2;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    gap: 30px;
}

/*Main Content*/
.about-me {
    display: flex;
    justify-content: center;
    gap: 10%;
    position: relative;
    padding: 20px;
    padding-bottom: 30px;
}

.about-me-text {
    display: block;
    padding: 20px;
}

.about-me-text li {
    padding: 20px;
}

.img {
    width: 300px;
    border-radius: 30px;
    justify-content: center;
}

.my-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    position: relative;
    padding-top: 20px;
}

.thumb-nails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.thumb-nails a {
text-align: center;
padding: 5%;
}

.thumb-nail-img {
    border: 1px solid #82d0de;
    border-radius: 4px;
    width: 250px;
}

.thumb-nail-img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.contact-me {
display: flex;
flex-direction: column;
}

.contact-me-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 45px;
}