/*General styling*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(#b095e7,#523c7e);
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 150%;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 250%;
}

h2 {
font-size: 175%;
}

/*Header & Nav*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    background-color: #6e4bb2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    gap: 30px;
}

/*Main Content*/
.about-me{
    display: flex;
    justify-content: center;
    gap: 10%;
    position: relative;
    padding: 20px;
}

.about-me-text{
    display: block;
    padding: 20px;
}

.about-me-text li {
    padding: 20px;
}

.img {
    width: 300px;
    border-radius: 30px;
    justify-content: center;
}

.my-work{
    display: flex;
    justify-content: center;
    gap: 10%;
    position: relative;
    padding: 20px;
}

.thumb-nails{
    
}

.contact-me{

}